@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
$viewport: 1440; // 基準となるビューポート

@function pxtovw($num, $width: $viewport) {
    @return (1vw * $num / $width * 100);
};

body{
    background-color: #E0E0E0;
    font-size: 13px;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Lora', serif;
    
    h2{
        font-size: 2rem;
        font-family: 'Didact Gothic', sans-serif;

        @media screen and(max-width:768px){
            font-size: 5.5vw;
        }
    }

    h3{
        font-size: 2vw;
    }

    p{
        font-size: 1vw;
        @media screen and(max-width:768px){
            font-size: 3.5vw;
        }
    }

    a{
        font-size: 0.8vw;
        @media screen and(max-width: 768px) {
            font-size: 3.5vw;            
        }
    }
}

@mixin header-logo{
    width: 15vw;
    height: 7.2vw;
    margin: 1vw 0; 

    @media screen and(max-width:768px){
        width: 19vw;
        height: 9vw;
    }
}

.header{
    z-index: 999;
    height: 10vw;

    @media screen and(max-width:768px){
        position: fixed;
        top: 0;
        height: 15vw;
    }

    .header-wrapper{
        height: 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: 2s ease;

        @media screen and(max-width:768px){
            height: 15vw;            
        }

        .navigation-button{
            height: 40%;
            margin-top: 3vw;
            margin-left: 3vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            :nth-child(n){
                margin-bottom: 5px;
                height: 2px;
                border-radius: 3px;
                border-bottom: solid 5px #1658A1;
            }

            :nth-child(1){
                width: pxtovw(40);

                @media screen and(max-width:768px){
                    width: pxtovw(100);
                }
            }
            
            :nth-child(2){
                width: pxtovw(30);
                @media screen and(max-width:768px){
                    width: pxtovw(80);
                }
            }
            
            :nth-child(3){
                width: pxtovw(20);
                @media screen and(max-width: 768px){
                    width: pxtovw(50);
                }
            }
        }

        .header-logo{
            @include header-logo

        }
        
        @media screen and(max-width:768px){
            .header-logo{
            position: relative;
            left: 30vw;   
            }
        }

        .header-right{
            display: flex;

            @media screen and(max-width:768px){
                position: absolute;
                top: 3vw;
                left: 85vw;
            }

            a{
                display: flex;
                align-items: center;
            }

            svg{
                width: 2vw;
                height: 2vw;
                margin-right: 3vw;

                @media screen and(max-width: 768px){
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        padding: 3vw;
        width: 50vw;
        height: 100%;
        background-color: #1658A1;
        z-index: 999;
        transform: translateX(-51vw);
        transition: 1s ease;

        .nav-close{
            width: pxtovw(50);
            height: pxtovw(50);
            background-color: #1658A1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            :nth-child(n){
                display: block;
                width: 80%;
                height: 2px;
                background-color: #FFFFFF;
                position: absolute;
            }

            :nth-child(1){
                transform: rotate(45deg);
            }

            :nth-child(2){
                transform: rotate(-45deg);
            }
        }

        ul{
            margin-top: 3vw;

            li{
                margin: 2vw 0;

                a{
                    font-size: 2vw;
                    color: #FFFFFF;
                    font-weight: 900;
                }

                :hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.visual{
    @media screen and(max-width: 768px){
        margin-top: 15vw;
    }

    .visual-wrapper{
        width: 100%;
        height: 40vw;
        display: flex;
        justify-content: flex-end;
        transition: 2s ease;
        position: relative;

        @media screen and(max-width: 768px){
            height: 80vw;
        }

        h2{
            font-size: 2.5rem;
            line-height: 5.5vw;
            letter-spacing: 2vw;
            font-weight: 900;
            position: absolute;
            left: 13vw;
            top: 11vw;
            z-index: 1;

            @media screen and(max-width: 768px){
                line-height: 13.5vw;
                letter-spacing: 5.5vw;
                top: 73vw;
                left: 3vw;
                font-size: 7.5vw;
            }
        }

        .visual-background{
            width: 76vw;
            height: 37vw;

            @media screen and(max-width: 768px){
                width: 100%;
                height: 80vw;
            }

            .inner-image{
                width: 100%;
                height: 100%;
                position: relative;
                    
                :nth-child(n){
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    position: absolute;
                    transition: all 0.5s linear 0s;
                }

                .visual-image01{
                    background-image: url(../assets/images/visual01.jpg);
                }
                .visual-image02{
                    background-image: url(../assets/images/visual02.JPG);
                }
                .visual-image03{
                    background-image: url(../assets/images/visual03.JPG);
                }
                .visual-image04{
                    background-image: url(../assets/images/visual04.JPG);
                }
            }
        }
    }
}

.link{
    @media screen and(max-width:768px){
        display: none;
    }

    .link-area{
        transition: 2s ease;

        ul{
            display: flex;
            justify-content: center;
            margin-top: 1vw;
        
            li a{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 1.75vw;
                font-weight: 900;

                .link-title{
                    font-size: 1vw;
                    letter-spacing: 0.05vw;
                }
            }
        }
    }
}

.concept{
    margin-top: 11vw;
    display: flex;
    position: relative;
    padding-bottom: 10vw;
    background: linear-gradient(to bottom,transparent 70%,#FFFFFF 30%);
    transition: 2s ease;

    @media screen and(max-width: 768px){
        flex-direction: column-reverse;
        margin-top: 40vw;
        background: transparent;
        padding-bottom: 0vw;

        h3{
            margin-left: 3vw;
            font-weight: 900;
            font-size: 3vw;
            letter-spacing: 0.25vw;
            margin-bottom: 6vw;
            color: #808080;
        }
    }

    .concept-background{
        width: 69.5vw;
        height: 49.5vw;

        @media screen and(max-width: 768px) {
            margin-top: 12vw;
            width: 100%;
            height: 60vw;
        }

        .concept-image{
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/concept01.png);
            background-size: cover;
        }
    }

    .concept-content{
        background-color: #ffffff;
        padding: 3vw 9vw 3vw 3vw;
        position: absolute;
        top: 5vw;
        left: 60vw;

        h3{
            font-weight: 900;
            letter-spacing: 1vw;
            line-height: 3.5vw;

            @media screen and(max-width: 768px){
                display: none;
            }

            span{
                color: #808080;
                font-size: 1vw;
                letter-spacing: 0;
            }
        }

        p{
            letter-spacing: 0.045vw;
            line-height: 1.8vw;
            margin: 1.25vw 0;
            padding-right: 6vw;
        }

        button{
            margin-top: 1vw;
            width: 12.8vw;
            height: 3.5vw;
            text-align: center;
            border: 2px solid;
            font-size: 0.9vw;
            font-weight: 900;
        }
        
        @media screen and(max-width: 768px){
            position: initial;
            top: 0;
            background-color: transparent;
            padding: 0vw 3vw;

            p{
                padding-right: 3vw;
                letter-spacing: 0.15vw;
                margin: 1vw 0 6vw;
                line-height: 6vw;
            }

            button{
                margin: 0 20vw;
                width: 50vw;
                height: 15vw;
                font-size: 3.5vw;
            }
        }
    }
}

.works{
    margin: 5vw 11vw 26vw 11vw;

    h2{
        margin-top: 5.8vw;
        letter-spacing: 0.2vw;
        font-weight: 900;
        font-size: 2.2vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            font-size: 0.8vw;
            color: #808080;
            margin-top: 1vw;
        }
    }

    .new{
        background-color: #1658A1;
        color: #FFFFFF;
        width: 8vw;
        line-height: 3vw;
        text-align: center;
        height: 3vw;
        position: absolute;
        z-index: 10;
        top: -1vw;
        left: 1vw;
    }

    .works-background{
        width: 70vw;
        height: 33vw;
        background-size: cover;
        opacity: 0;
    }

    .works-content{
        background-color: #FFFFFF;
        width: 40vw;
        height: 10vw;
        padding: 2.5vw 0 0 2.5vw;

        p{
            font-weight: 900;
        }
        h3{
            text-align: left;
            font-weight: 900;
            font-size: 2vw;

            span{
                font-size: 1vw;
                color: #808080;
                margin-left: 5vw;
            }
        }

        @media screen and(max-width: 768px) {
                
            h3{
                font-size: 5.5vw;
                line-height: 9vw;

                span{
                    font-size: 3.5vw;
                    margin-left: 0;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        margin: 0vw;
        padding: 10vw 0 0 0;
        background: linear-gradient(#ffffff 30%, transparent);
        width: 100%;
        overflow-x: hidden;
        
        h2{
            margin-top: 0;
            font-size: 6.5vw;

            .translation{
                font-size: 3.5vw;
            }
        }

        .works-background{
            width: 100%;
            height: 68vw;
        }
    }

    .works-content{
        opacity: 0;
    }

    .works-sakashita{
        margin-top: 5vw;
        position: relative;
        display: flex;

        .works-background{
            background-image: url(../assets/images/works01.jpg);
            position: relative;
            top: 0vw;
            left: 3vw;
            transform: translate(-20%,20%);
        }

        .works-content{
            position: relative;
            top: 18vw;
            right: 3vw;
            transform: translate(20%,20%);
        }
        
        .fade-in{
            transform: translate(0);
            opacity: 1;
            transition: 1.5s ease;
        }
    }

    .works-sakuracho{
        margin-top: 5vw;
        margin-right: 2vw;
        display: flex;
        flex-direction: row-reverse;

        .works-background{
            background-image: url(../assets/images/works02.jpg);
            transform: translate(20%,20%);
        }

        .works-content{
            width: 45vw;
            position: relative;
            top: 18vw;
            left: 2vw;
            transform: translate(-20%,20%);
        }
        
        .fade-in{
            transform: translate(0);
            opacity: 1;
            transition: 1.5s ease;
        }
    }

    .works-toyoshiki{
        margin-top: 5vw;
        display: flex;
        margin-left: 3vw;

        .works-background{
            width: 50vw;
            background-image: url(../assets/images/works03.jpg);
            position: absolute;
            transform: translate(-20%,20%);
        }

        .works-content{
            height: 16vw;
            width: 30vw;
            position: relative;
            top: 13vw;
            left: 43vw;
            transform: translate(20%,20%);

            .explanation{
                margin-top: 1vw;
                font-weight: 400;
                padding-right: 2.5vw;
            }
        }
        
        .fade-in{
            transform: translate(0);
            opacity: 1;
            transition: 1.5s ease;
        }
    }

    @media screen and(max-width: 768px){
        ul :nth-child(n){
            display: block;
        }

        .new{
            width: 15vw;
            line-height: 5vw;
            height: 5vw;
            top: -2vw;
        }

        .works-sakashita{
            .works-background{
                top: 0;
                left: 0;
            }

            .works-content{
                top: -11vw;
                left: 3vw;
                width: 90vw;
                height: 33vw;
                padding: 3.5vw 0 0 6.5vw;
            }
        }

        .works-sakuracho{
            margin: 0;

            .works-content{
                width: 90vw;
                top: -15vw;
                left: 3vw;
                height: 33vw;
                padding: 3.5vw 0 0 6.5vw;
            }
        }

        .works-toyoshiki{
            margin: 0;

            .works-background{
                position: relative;
                width: 100%;
            }
            .works-content{
                height: 50vw;
                width: 90vw;
                position: relative;
                top: -14vw;
                left: 3vw;
                padding: 3.5vw 6.5vw;

                .explanation{
                    font-size: 3.5vw;
                    padding-right: 0;
                }
            }
        }
    }
}

.detail{
    padding: 5vw 12vw 10vw 12vw;
    background-color: #ffffff;
    display: flex;

    .detail-content{
        width: 23vw;
        padding-top: 3vw;

        h2{
            margin-top: 2vw;
            margin-left: 1vw;
            font-weight: 900;
            letter-spacing: 0.2rem;
            line-height: 2.6rem;
        }

        span{
            margin-left: 0.8vw;
        }

        p{
            margin-top: 2.5vw;
            margin-left: 0.7rem;
            line-height: 1.65rem;
            letter-spacing: 0.03rem;
        }

        button{
            border: 2px solid #000000;
            width: 12.8vw;
            text-align: center;
            height: 3.5vw;
            margin-top: 1.4vw;
            margin-left: 0.8vw;
        }
    }

    .detail-design{
        display: grid;
        grid-template-rows: 11vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        margin: 5vw 0 0 3vw;

        :nth-child(n){
            width: 11vw;
            height: 11vw;
            object-fit: cover;
        }
    }

    @media screen and(max-width: 768px){
        padding: 0 0 20vw 0;
        flex-direction: column;
        align-items: center;

        .detail-content{
            width: 100%;
            text-align: center;
            padding-top: 5vw;

            p{
                text-align: start;
                padding-right: 3vw;
                margin-top: 5.5vw;
                line-height: 6.3vw;
            }

            button{
                width: 50vw;
                height: 14vw;
                margin-left: 0;
                margin-top: 5vw;
                font-weight: 900;
            }

        }

        .detail-design{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 26vw;
            gap: 5vw;

            :nth-child(n){
                width: 25vw;
                height: 25vw;
            }
        }
    }
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;

    h3{
        font-size: 1.5rem;
        font-weight: 900;
    }

    ul{
        margin-top: 2vw;
        background-color: #ffffff;
        width: 75vw;
        height: 17vw;
        padding: 1vw 0;

        :last-child{
            border-bottom: none;
        }

        li{
            width: 60vw;
            height: 5.1vw;
            padding-left: 2vw;
            margin-left: 7vw;
            display: flex;
            align-items: center;
            font-size: 1rem;
            letter-spacing: -0.1rem;
            border-bottom: 1px solid #808080;

            :nth-child(2n){
                margin-left: 3vw;
                letter-spacing: -0.05rem;
            }
        }
    }

    @media screen and(max-width: 768px){
        margin-top: 11vw;

        h3{
            font-size: 5vw;
        }   

        ul{
            width: 90vw;
            height: 65vw;
            padding: 3vw 0;

            li{
                width: 80vw;
                height: 20vw;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                margin-left: 5vw;
                font-size: 3vw;
                font-weight: 900;

                :nth-child(2n){
                    margin-left: 0;
                }
            }
        }
    }
}

.blog{
    display: flex;
    align-items: center;
    margin: 7vw 20vw;

    .blog-link{
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.7vw 0 3.7vw 2.7vw;

        h4{
            font-size: 1.5vw;
            font-weight: 900;
            margin-bottom: 1vw;
        }

        p{
            line-height: 2vw;
        }
    }

    .blog-image{
        width: 28vw;
        height: 15vw;
        background-image: url(../assets/images/blog.jpg);
        background-size: cover;
    }

    @media screen and(max-width: 768px) {
        margin: 20vw 5vw;
        flex-direction: column-reverse;

        .blog-link{
            width: 90vw;
            padding: 5vw;

            h4{
                font-size: 5vw;
                margin-bottom: 5vw;
            }

            p{
                line-height: 6vw;
            }
        }

        .blog-image{
            width: 90vw;
            height: 50vw;
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;

    .header-logo{
        @include header-logo
    }

    .footer-list{
        margin-top: 3vw;
        padding-top: 2.8vw;
        display: flex;
        width: 75%;

        li{
            width: 100%;

            ul li{
                margin-bottom: 0.4vw;
            }
        }

        h5{
            font-weight: 900;
            margin-bottom: 1vw;
        }


        .sns ul li{
            margin-bottom: 0.3vw;

            a{
                display: flex;
                align-items: center;
            }

            :nth-child(n){
                margin-right: 0.8vw;
            }
        }
    }

    .copylight{
        background-color: #f6f6f6;
        width: 100%;

        p{
            text-align: center;
            font-weight: 900;
            margin: 3vw 0;
        }
    }
    
    @media screen and(max-width: 768px) {
        margin-top: 30vw;
        padding-top: 10vw;

        .header-logo{
            width: 52vw;
            height: 25vw;
        }

        a{
            text-align: center;
            line-height: 7vw;
            font-weight: 900;
        }

        .footer-list{
            flex-direction: column;
            flex-wrap: wrap;
            height: 100vw;
            width: 95vw;
            margin-top: 10vw;
            padding-top: 10vw;
            border-top: #808080 solid 1px;
            border-bottom: #808080 solid 1px;

            li{
                width: 49vw;
                margin-bottom: 3vw;

                ul li a{
                    font-weight: 400;
                }
            }

            h5{
                text-align: start;
            }
        }

        .sns.sp{
            display: flex;
            flex-wrap: wrap;
            margin: 5vw 0;

            a{
                margin-left: 10vw;
                width: 40vw;
                text-align: start;
            }
        }
    }
}

.hidden{
    opacity: 0;
    transition: 2s;
}



.twitter-logo{
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-image: url(../assets/images/twitterlogo_blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5vw;
}

.fb-logo{
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-image: url(../assets/images/FB_icon-icons.com_65484.svg);
    background-size: cover;
    margin: 0.5vw;
}

.insta-logo{
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-image: url(../assets/images/instagram-seeklogo.com.svg);
    background-size: cover;
    margin: 0.5vw;
}

@media screen and(max-width: 768px) {
    .twitter-logo{
        width: 6vw;
        height: 5vw;
        margin: 0 2.5vw 0 0;
    }
    
    .fb-logo{
        width: 5vw;
        height: 5vw;
        margin: 0 2.5vw 0 0;
    }
    
    .insta-logo{
        width: 5vw;
        height: 5vw;
        margin: 0 2.5vw 0 0;
    }
}

.pagetop-button{
    position: fixed;
    display: flex;
    bottom: 3vw;
    right: 3vw;
    opacity: 0;
    transition: 1.5s;

    a{
        display: block;
        width: 8vw;
        height: 10vw;
        background-image: url(../assets/images/btn-pagetop.png);
        background-size: cover;
    }
}

.top-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    transition: 1s ease;
    opacity: 0;
    background: linear-gradient(#E0E0E0 95%,#808080 110%);

    .nav-icon{
        width: 5vw;
        height: 3vw;
        background-image: url(../assets/images/lgo-main_002.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .link-area ul{
        display: flex;

        :nth-child(n){
            margin-left: 1vw;
        }
    }

    .link-title{
        font-size: 1.2vw;
        font-weight: 700;
    }

    .sns{
        ul{
            display: flex;

            span{
                width: 2vw;
                height: 2vw;
            }
        }
    }
}

.nav-menu.open{
    transform: translateX(0);
}

.dis-active{
    transform: translateY(5%);
    opacity: 0;
}

.sp{
    display: none;

    @media screen and(max-width: 768px){
        display: block;
    }
}

.pc{
    display: flex;

    @media screen and(max-width: 768px){
        display: none;
    }
}