body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 10px;
}

.contact {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vw 5vw;
  text-align: center;
  border: 1px solid #808080;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #808080;
          box-shadow: 0px 0px 20px 0px #808080;
}

.form-title {
  font-size: 2rem;
}

.form-area {
  margin: 0 0 2rem 0;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #808080;
  margin: 0.5rem 0;
}

input {
  width: 95%;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem 0;
  border: #b4b4b4 solid 3px;
  border-radius: 5px;
}

small {
  height: 1rem;
  width: 100%;
  color: #ff0000;
  visibility: hidden;
}

small#submit-message {
  color: #000000;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #0088ff;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#movie-seat-booking {
  background-color: #001a31;
}

.movie-select-container {
  text-align: center;
  margin-bottom: 1rem;
}

.seat-situation {
  border-radius: 10px;
  background-color: #00071a;
}

.seat {
  display: block;
  width: 15px;
  height: 12px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #808080;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.seat:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.selected {
  background-color: #00ffff;
}

.selected:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.occupied {
  background-color: #ffffff;
}

.occupied:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: default;
}

.seat-situation__list {
  width: 15vw;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.seat-situation__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 5vw;
}

.seat-situation__list small {
  visibility: visible;
  color: #ffffff;
  width: auto;
}

.screen-hall {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding: 0 2.5vw;
}

.screen {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  -webkit-transform: rotateX(-45deg);
          transform: rotateX(-45deg);
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 3px 10px #ffffff;
          box-shadow: 0 3px 10px #ffffff;
}

.screen-hall-seats {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  margin-bottom: 5px;
  gap: 2px;
}

.payment-amount {
  text-align: center;
  word-spacing: 0.1rem;
  color: #ffffff;
}

body#custom-video-player {
  background-color: #001a31;
  text-align: center;
}

.video-player__title {
  font-size: 2rem;
  color: #ffffff;
}

.video-handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-handler__icon {
  display: block;
  width: 10%;
  height: 50px;
  background-image: url(../../assets/playing.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-handler__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video-handler__icon.playing {
  background-image: url(../../assets/pause.png);
}

.video-seekbar {
  width: 75%;
  -webkit-transition: 0.025s;
  transition: 0.025s;
  padding: 0;
  margin: 1rem;
}

.video-play-time {
  width: 10%;
  color: #ffffff;
  font-size: 1.3rem;
}

.rate-calculator__title {
  font-size: 2rem;
}

.calculator-wrapper p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rates select {
  margin: 1rem 0;
  width: 20%;
  padding: 5px 0;
}

.swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#swap-button {
  width: 20%;
  padding: 0;
  font-size: 1rem;
}

.currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */